<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crfsdi.whm.repository.ProjectRepository">
  <resultMap id="BaseResultMap" type="com.crfsdi.whm.model.Project">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="prj_id" jdbcType="INTEGER" property="prjId" />
    <result column="month" jdbcType="INTEGER" property="month" />
    <result column="prj_name" jdbcType="VARCHAR" property="name" />
    <result column="prj_standard" jdbcType="VARCHAR" property="standard" />
    <result column="prj_type" jdbcType="VARCHAR" property="type" />
    <result column="prj_scale" jdbcType="DOUBLE" property="scale" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
	id,
	prj_id,
	month,
	prj_name,
	prj_standard,
	prj_type,
	prj_scale,
	status,
	create_date,
	update_date
  </sql>
  <sql id="Base_Column_List_for_insert">
	prj_id,
	month,
	prj_name,
	prj_standard,
	prj_type,
	prj_scale,
	status
  </sql>
  
  <select id="load" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from projects_t
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="findByPrjId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from projects_t
    where prj_id = #{prj_id,jdbcType=INTEGER}
  </select>
  
  <select id="listByMonth" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from projects_t
    where month = #{month,jdbcType=INTEGER}
  </select>
  
  <delete id="delete" parameterType="java.lang.Long">
    delete from projects_t
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.crfsdi.whm.model.Project">
    insert into projects_t (<include refid="Base_Column_List_for_insert" />)
    values (0, #{month,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{standard,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{scale,jdbcType=DOUBLE},
      #{status,jdbcType=INTEGER}
    )
  </insert>

  <insert id="saveMore" useGeneratedKeys="true" keyProperty="id" parameterType="list">
    insert into projects_t (<include refid="Base_Column_List_for_insert" />)
    values 
       <foreach collection="list" item="obj" index="index" separator="," > 
	      (0, #{obj.month,jdbcType=VARCHAR}, #{obj.name,jdbcType=VARCHAR}, 
	      #{obj.standard,jdbcType=VARCHAR}, #{obj.type,jdbcType=VARCHAR}, #{obj.scale,jdbcType=DOUBLE},
	      #{obj.status,jdbcType=INTEGER})
       </foreach> 
  </insert>
  
  <update id="update" parameterType="com.crfsdi.whm.model.Project">
    update projects_t
    <set>
      <if test="month != null">
        month = #{month,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        prj_name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="standard != null">
        prj_standard = #{standard,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        prj_type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="scale != null">
        prj_scale = #{scale,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      update_date = CURRENT_TIMESTAMP
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="confirmByMonth" parameterType="java.lang.Long">
    update projects_t
    <set>
      status = 1,
      prj_id = month * 10000 + id mod 10000,
      update_date = CURRENT_TIMESTAMP
    </set>
    where month = #{month,jdbcType=INTEGER}
  </update>

</mapper>