<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crfsdi.whm.repository.UserRepository">
  <resultMap id="BaseResultMap" type="com.crfsdi.whm.model.Person">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="staff_id" jdbcType="VARCHAR" property="username" />
    <result column="name" jdbcType="VARCHAR" property="staffName" />
    <result column="gender" jdbcType="CHAR" property="gender" />
    <result column="birth_date" jdbcType="TIMESTAMP" property="birthDate" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="job_title" jdbcType="VARCHAR" property="jobTitle" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="pwd" jdbcType="VARCHAR" property="password" />
    <result column="is_sys" jdbcType="INTEGER" property="sys" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <collection property="roles" ofType="com.crfsdi.whm.model.Role">
        <result column="role_name" jdbcType="VARCHAR" property="name" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
	e.id,
	e.staff_id,
	e.name,
	e.gender,
	e.birth_date,
	e.position,
	e.job_title,
	e.level,
	e.pwd,
	e.is_sys,
	e.status,
	e.open_id,
	e.create_date,
	e.update_date
  </sql>
  
  <select id="load" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />, r.role_name
    from employee_t e
    left join roles_t r on r.user_id = e.staff_id
    where e.id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="delete" parameterType="java.lang.Long">
    delete from employee_t
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <select id="findByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />, r.role_name
    from employee_t e
    left join roles_t r on r.user_id = e.staff_id
    where e.staff_id = #{username,jdbcType=VARCHAR} OR e.open_id = #{username,jdbcType=VARCHAR}
  </select>
  
  <select id="listByPage" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />, r.role_name
    from employee_t e
    left join roles_t r on r.user_id = e.staff_id
    where e.staff_id like CONCAT('%',#{username,jdbcType=VARCHAR},'%')
    and e.name like CONCAT('%',#{staffName,jdbcType=VARCHAR},'%')
    LIMIT #{page,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByUsername" parameterType="java.lang.String">
    delete from employee_t
    where staff_id = #{username,jdbcType=VARCHAR}
  </delete>
  
  <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.crfsdi.whm.model.Person">
    insert into employee_t (staff_id,name,gender,birth_date,position,job_title,level,pwd,is_sys,status)
    values (#{username,jdbcType=VARCHAR}, #{staffName,jdbcType=VARCHAR}, 
      #{gender,jdbcType=CHAR}, #{birthDate,jdbcType=TIMESTAMP}, #{position,jdbcType=VARCHAR}, 
      #{jobTitle,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, 
      #{sys,jdbcType=INTEGER},#{status,jdbcType=INTEGER}  
    )
  </insert>
  
  <insert id="saveMore" useGeneratedKeys="true" keyProperty="id" parameterType="list">
    insert into employee_t (staff_id,name,gender,birth_date,position,job_title,level,pwd,is_sys,status)
    values 
       <foreach collection="list" item="obj" index="index" separator="," > 
           (#{obj.username,jdbcType=VARCHAR}, #{obj.staffName,jdbcType=VARCHAR}, #{obj.gender,jdbcType=CHAR}, 
            #{obj.birthDate,jdbcType=TIMESTAMP}, #{obj.position,jdbcType=VARCHAR}, #{obj.jobTitle,jdbcType=VARCHAR}, 
            #{obj.level,jdbcType=INTEGER}, #{obj.password,jdbcType=VARCHAR}, #{obj.sys,jdbcType=INTEGER},
            #{obj.status,jdbcType=INTEGER})
       </foreach> 
  </insert>
  
  <update id="update" parameterType="com.crfsdi.whm.model.Person">
    update employee_t
    <set>
      <if test="staffName != null">
        name = #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=CHAR},
      </if>
      <if test="birthDate != null">
        birth_date = #{birthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="jobTitle != null">
        job_title = #{jobTitle,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        pwd = #{password,jdbcType=VARCHAR},
      </if>
      <if test="sys != null">
        is_sys = #{sys,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      update_date = CURRENT_TIMESTAMP
    </set>
    where staff_id = #{username,jdbcType=VARCHAR}
  </update>

</mapper>