<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crfsdi.whm.repository.WorkAtendanceRepository">
  <resultMap id="BaseResultMap" type="com.crfsdi.whm.model.WorkAtendance">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="month" jdbcType="INTEGER" property="month" />
    <result column="staff_id" jdbcType="VARCHAR" property="staffId" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
    <result column="month_occur_rate" jdbcType="FLOAT" property="monthOccurRate" />
    <result column="month_fill_rate" jdbcType="FLOAT" property="monthFillRate" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
	wa.id,
	wa.month,
	wa.staff_id,
	wa.month_occur_rate,
	wa.month_fill_rate,
	wa.create_date,
	wa.update_date
  </sql>
  
  <select id="load" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />, e.name staff_name
    from work_atendance_t wa 
    left join employee_t e on e.staff_id = wa.staff_id
    where wa.id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="delete" parameterType="java.lang.Long">
    delete from work_atendance_t
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <select id="listByPage" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />, e.name staff_name
    from work_atendance_t wa
    left join employee_t e on e.staff_id = wa.staff_id
    where wa.staff_id like CONCAT('%',#{staffId,jdbcType=VARCHAR},'%')
    <if test="month != null">
        and wa.month = #{month,jdbcType=INTEGER}
    </if>
    LIMIT #{page,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
  </select>
  
  <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.crfsdi.whm.model.WorkAtendance">
    insert into work_atendance_t (month,staff_id,month_occur_rate,month_fill_rate)
    values (#{month,jdbcType=VARCHAR}, #{staffId,jdbcType=VARCHAR}, 
      #{monthOccurRate,jdbcType=FLOAT}, #{monthOccurRate,jdbcType=FLOAT}
    )
  </insert>
  
  <insert id="saveMore" useGeneratedKeys="true" keyProperty="id" parameterType="list">
    insert into work_atendance_t (month,staff_id,month_occur_rate,month_fill_rate)
    values 
       <foreach collection="list" item="obj" index="index" separator="," > 
          (#{obj.month,jdbcType=VARCHAR}, #{obj.staffId,jdbcType=VARCHAR}, 
           #{obj.monthOccurRate,jdbcType=FLOAT}, #{obj.monthOccurRate,jdbcType=FLOAT})
       </foreach> 
  </insert>

  <update id="update" parameterType="com.crfsdi.whm.model.WorkAtendance">
    update work_atendance_t
    <set>
      <if test="monthOccurRate != null">
        month_occur_rate = #{monthOccurRate,jdbcType=FLOAT},
      </if>
      <if test="monthFillRate != null">
        month_fill_rate = #{monthFillRate,jdbcType=FLOAT},
      </if>
      update_date = CURRENT_TIMESTAMP
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>